[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pillow = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
django = "==3.1.5"
django-dotenv = "*"
gunicorn = "*"
psycopg2 = "*"
psycopg2-binary = "*"
boto3 = "*"
django-storages = "*"
sentry-sdk = "*"

[dev-packages]

[requires]
python_version = "3.8"
