.introduction {
    height: 500px;
}



@media screen and (min-width:1536px) {
    .introduction {
        height: 800px;
    }
}

h1 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h2 {
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: white;
}




.containerFirst, 
.containerSecond, 
.containerThird, 
.containerFourth {
    transition:background-color 0.2s ease-in-out;
}

.containerFirst:hover, 
.containerSecond:hover, 
.containerThird:hover, 
.containerFourth:hover {
    background-color: #b8bccc;
}


.descriptionFirst,
.descriptionSecond,
.descriptionThird,
.descriptionFourth {
    border-radius: 0.5rem;
}

@media screen and (max-width: 640px) {
    .landingNav,
    .introduction,
    .containerFirst, 
    .containerSecond, 
    .containerThird, 
    .containerFourth,
    .conclusion {
        width: 100vw;
    }
}