{% extends 'auth/password_reset_base.html' %}


{% block styles %}
<style>
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    form input {
        border-radius: 0.5rem;
        box-shadow: none;
        height: 2rem;
        width: 15rem;
        border-color: #F3F4F6;
        border-width: 1px;
        outline: 2px solid transparent;
        outline-offset: 2px;
        font-size: medium;
    }
    form label {
        font-size: large;
    }
    form button {
        background-color: #34D399;
        border: none;
        color: white;
        padding: 0.2rem 1rem;
        border-radius: 0.3rem;
        font-weight: 600;
        font-size: large;
    }
    form button:hover {
        background-color: #10B981;
        color: whitesmoke;
    }
    ul li {
        font-size: small;
    }
</style>
{% endblock styles %}
    

{% block content %}
<form method="PATCH" action="{% url 'auths:password_reset_complete' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Reset Password</button>
</form>
{% endblock content %}
    