{% extends 'auth/password_reset_base.html' %}


{% block styles %}
<style>
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    section a {
        text-decoration: none;
        background-color: var(--green);
        border-radius: 0.5rem;
        border-width: 0px;
        padding: 0.2rem 1rem;
        color: white;
        font-size: large;
        margin-top: 1rem;
    }
    section a:hover {
        background-color: var(--green-hover);
        color: whitesmoke;
    }
</style>
{% endblock styles %}
    

{% block content %}
<section>
    <span>Email does not exist</span>
    <a href="{% url 'auths:password_reset' %}">Try Again</a>
</section>
{% endblock content %}
    