<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLglance | Password Reset</title>
    
    {% block styles %}
        
    {% endblock styles %}
    <style>
        #root {
            display: flex;
            justify-content: center;
            width: 100%;
        }
        :root {
            --color-first:#0f3057;
            --color-second:#00587a;
            --color-third:#008891;
            --color-fourth:#e7e7de;
        }
    </style>

</head>
<body>
    
    <div id='root'>
        {% block content %}
        
        {% endblock content %}
    </div>

</body>
</html>