{% extends 'auth/password_reset_base.html' %}


{% block styles %}
<style>
    section span {
        font-size: large;
    }
    section .emphasis {
        color: #F59E0B !important;
    }
</style>
{% endblock styles %}
    

{% block content %}
<section>
    <span>We've send a link for changing password to your email</span>
    <br/>
    <span>Please Check your email inbox</span>
    <br/>
    <span class="emphasis">Check the spam mail inbox if you've not recieved any</span>
</section>
{% endblock content %}
    