{% extends 'auth/password_reset_base.html' %}

{% block styles %}
<style>
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 1rem;
        background-color: var(--color-fourth);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
        margin-top: 5rem;
        padding: 5rem;
    }
</style>
{% endblock styles %}


{% block content %}
<form method="POST" action="{% url 'auths:password_reset' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Submit</button>
</form>
{% endblock content %}
    